@model Fruit

<h1 class="page-title">Add fruit</h1>

@*<form method="post" action="/Home/AddFruit"> *@
<form method="post" asp-controller="Home" asp-action="AddFruit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        <label asp-for="Qty"></label>
        <input type="text" class="form-control" asp-for="Qty" />
    </div>
    <button class="btn btn-primary">Add</button>
    <a asp-controller="Home" asp-action="Index">Cancel</a>
</form>