@model string[]

<h1 class="page-title">Sections</h1>

@section Fruit {
    <div class="well">
        @foreach (string s in new[] { "apples", "bananas", "oranges"})
        {
            @s <br />
        }
    </div>
}