@{
Layout = null;
}

<h3>Admin Area - Home controller - Index action</h3>

<br />

<a asp-controller="Home" asp-action="Index">Home/Index</a> <br />

<a asp-area="" asp-controller="Home" asp-action="Index">Home/Index</a> <br />